@use '../../../scss/variables';

.no-matches-screen {
    height: calc(100vh - variables.$header-height);
    width: 100%;
    font-family: variables.$font2;
    color: variables.$color10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-template-rows: 75px auto;
    background-color: variables.$color3;

    

    .no-matches-text {
        font-family: variables.$font;
        font-size: 20px;
        padding: 80px;
    }
}