@use './../../scss/variables';


//global
$background-color: rgb(0, 0, 0);
$text-color: rgb(255, 255, 255);
$color3: rgb(85, 85, 85);
$color4: rgb(170, 170, 170);

//Header
$header-height: 70px;
$header-margin-bottom: 0px;
$header-text-color: $text-color;
$header-background-color: $background-color;
$header-border-bottom-color: $color4;

//Content
$content-text-color: $text-color;
$content-background-color: $background-color;
$content-padding-left: 0px;
$content-padding-right: 5px;
$content-padding-top: 10px;
$content-padding-bottom: 80px;
$content-gap: 10px;

//Content scroll bar
$scroll-bar-background-color: $background-color;
$scroll-bar-color: $color4;
$scroll-bar-hover-color: $text-color;



.drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw; 
    z-index: 999;
    transition: opacity 0.4s ease;
    color: $text-color;
    cursor: auto;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }


    &__background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color: $background-color;
        opacity: 0.8;
    }


    &__menu {
        width: 350px;
        height: 100%;
        background-color: $background-color;
        border-right: 1px solid $color4;
        transition: transform 0.5s ease;

        .drawer.hidden & {
            transform: translateX(-100%);
        }


        &__header {

            &__head {
                width: 100%;
                height: $header-height;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-inline: 20px;
                margin-bottom: $header-margin-bottom;
                color: $header-text-color;
                background-color: $header-background-color;
                border-bottom: 1px solid $color3;
                background-color: rgb(20, 20, 20);

                &__title {
                    font-size: larger;
                    font-weight: bolder;
                }
    
    
                &__close-button {
                    border: 1px solid transparent;
                    border-radius: 50%;
                    padding: 5px 10px;
                    color: rgb(180, 180, 180);
                    background-color: transparent;
                    font-weight: bolder;
                    font-size: large;
                    transition: border-color 0.2s ease, color 0.2s ease;
                    cursor: pointer;
    
                    &:hover {
                        border-color: white;
                        color: white;
                    }
                }
            }

            &__bottom {
                background-color: rgb(20, 20, 20);
                height: 80px;
                border-bottom: 1px solid $header-border-bottom-color;
                display: flex;
                justify-content: space-between;

                .no-saved-games-text{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }

                &__info {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    .games-quantity {
                        font-family: variables.$font2;
                        font-size: larger;
                        word-spacing: 5px;
                    }

                    .total-size {
                        font-family: variables.$font2;
                        word-spacing: 5px;
                    }
                }

                &__drawer-options{
                    width: 210px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 6px;
                    padding-inline: 10px;

                    button {
                        padding: 10px 20px 10px 20px;
                        cursor: pointer;
                        border-radius: 10px;
                        border: 1px solid white;
                        background-color: rgb(10, 10, 10);
                        font-family: variables.$font;
                        font-weight: 600;
                        color: white;
                        transition: all 0.2s ease;
                    }
    
                    &__copy-list-button{
                        &:hover {
                            border-color: green;
                            background-color: rgb(0, 14, 0);
                        }
                    
                        &:active {
                            border-color: rgb(0, 156, 0);
                            background-color: rgb(0, 46, 0);
                        }
                    }
    
                    &__empty-list-button{
                        &:hover {
                            border-color: rgb(128, 0, 0);
                            background-color: rgb(14, 0, 0);
                        }
                    
                        &:active {
                            border-color: rgb(156, 0, 0);
                            background-color: rgb(46, 0, 0);
                        }
                    }
                    
                }
            }
        }


        &__content {
            height: calc(100% - $header-height - 80px - $header-margin-bottom);
            padding-top: $content-padding-top;
            padding-bottom: $content-padding-bottom;
            padding-left: $content-padding-left;
            padding-right: $content-padding-right;
            margin-right: 5px;
            color: $content-text-color;
            background-color: $content-background-color;
            display: flex;
            flex-direction: column;
            gap: $content-gap;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 3px; 
            }

            &::-webkit-scrollbar-track {
                background: $scroll-bar-background-color;
                border-radius: 10px;
            }
        
            &::-webkit-scrollbar-thumb {
                background-color: $scroll-bar-color; 
                border-radius: 10px;
            }
        
            &::-webkit-scrollbar-thumb:hover {
                background: $scroll-bar-hover-color;
                cursor: pointer;
            }

            & > * {
                flex-shrink: 0;
            }
        }
    }
}



