@use '../../scss/variables';


.search-screen {
    color:white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background-color: variables.$color3;
    min-height: calc(100vh - variables.$header-height);
    width: 100%;

    .search-content{
        max-width: variables.$main-container-max-width;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px 20px 50px 20px;


        @media only screen and (max-width: 930px) {
            gap: 17px;
        }

        @media only screen and (max-width: 750px) {
            gap: 14px;
        }

        @media only screen and (max-width: 590px) {
            gap: 10px;
        }
    }
}