@use '../../../scss/variables';

.show-search-bar-button {
    display: flex;
    border: 1px solid variables.$color7;
    background-color: variables.$color1;
    padding: 5px 5px;
    border-radius: 50%;
    transition: all 0.2s ease; 
    cursor: pointer;
    margin-left: auto;

    &:hover {
        border-color: variables.$color10;
    }
}