@use '../../../scss/variables';


.nav-index {
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.2s ease-in, box-shadow 0.2s ease-in, background-color 0.2s ease;

    &.hidden {
        transform: translateX(-100px);
        opacity: 0;
    }

    &:hover {
        background-color: variables.$color4;
    }

    &:active {
        background-color: variables.$color6;
    }
}