@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


$color1: #000000;
$color2: #101010;
$color3: #202020;
$color4: #303030;
$color5: #505050;
$color6: #606060;
$color7: #707070;
$color8: #949494;
$color9: #bbbbbb;
$color10: #e0e0e0;

$backGroundColor: rgb(245, 245, 245);
$itemBackgroundColor: white;
$borderColor: #B6B6B6;
$textDarkColor: #000000;
$textBrightColor: #edf4fb;
$font: "Raleway", sans-serif;

$footer-height: 135px;

$header-height: 100px;
$nav-width: 60px;


